@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Permanent+Marker&display=swap');

body {
	background-color: #18191a;
	margin: 0;
	color: white;
}
.md-form .prefix.active {
	background-image: linear-gradient(
		92.2deg,
		rgba(31, 225, 225, 1) -15.9%,
		rgba(148, 119, 215, 1) 112.8%
	) !important;
	-webkit-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;
}
input:focus + label {
	background-image: linear-gradient(
		92.2deg,
		rgba(31, 225, 225, 1) -15.9%,
		rgba(148, 119, 215, 1) 112.8%
	) !important;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

input:focus {
	border-bottom: 1px solid #2bbbad !important;
	box-shadow: 0 1px 0 0 #2bbbad !important;
	background-image: linear-gradient(
		92.2deg,
		rgba(31, 225, 225, 1) -15.9%,
		rgba(148, 119, 215, 1) 112.8%
	) !important;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
textarea:focus {
	border-bottom: 1px solid #1fe1e1 !important;
	box-shadow: 0 1px 0 0 #1fe1e1 !important;
	color: white !important;
	background-image: linear-gradient(
		92.2deg,
		rgba(31, 225, 225, 1) -15.9%,
		rgba(148, 119, 215, 1) 112.8%
	) !important;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
input {
	color: white !important;
}
textarea {
	color: white !important;
}
textarea:focus + label {
	color: #2bbbad !important;
}
.modal-content {
	background-color: #242526;
}
.form-control {
	color: black;
}

.dropdown-item:hover {
	color: black !important;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	border-radius: 0.125rem !important;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.dropdown-menu {
	padding: 8px !important;
}

.nav-link:hover {
	background-image: linear-gradient(
		92.2deg,
		rgba(31, 225, 225, 1) -15.9%,
		rgba(148, 119, 215, 1) 112.8%
	) !important;
	color: black !important;
	border: 1px solid white !important;
}
.navbar .navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	font-weight: 400 !important;
	border: 1px solid black;
	margin-left: 1em;
	padding: 0.8em 4em 0.8em 4em;
	border-bottom-style: solid;
	border-image-slice: 1;
	background-color: white !important;
	border-image-source: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.651) 12.9%, #000000 145.4%);
}
.tagLine {
	text-align: center;
	margin-top: -3px;
	font-size: 1em;
	font-family: 'Heebo', sans-serif;
	font-weight: 200;
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#monarchLogoCol {
	padding-left: 0.5em;
}
#monarchIconCol {
	padding-right: 0;
}
.brandLogo {
	display: inline;
}
.default-color {
	background-color: #242526 !important;
}
#editProfile:hover {
	color: rgb(122, 119, 119);
}

#editProfile {
	color: #2bbbad;
	-webkit-text-stroke: 2px white;
	font-size: 2.4rem;
}
.avatar-xl {
	height: 13em;
	width: 13em;
}
.rounded-circle {
	border-radius: 50% !important;
	background-color: #5f5d5d;
}
.card {
	background-color: #242526;
	border-radius: 1em;
}
.tab-content {
	padding: 0 !important;
}
#profile-thumbnail {
	border: 1px solid black;
	padding: 6px;
	margin-top: 8px;
	margin-left: -5px;
}
#edit-profile {
	padding-left: 8rem !important;
}
#follow-btn:hover #follow-icon {
	font-size: 13px;
}
#post-list-container {
	overflow-x: auto;
	height: 900px;
	padding-right: 20px;
	background-color: #18191a;
}
.card-box {
	border: 1px solid black;
	box-shadow: 0 2px 5px 0 rgb(43, 187, 173, 3), 0 2px 10px 0 rgba(0, 0, 0, 0);
}
.avatar-sm {
	height: 4rem;
	width: 4rem;
	border-color: black;
}
.memberCard {
	min-height: 100px;
	flex-direction: row;
	border: 1px solid lightgray;
}
.embedContainer {
	position: relative;
	width: 100%;
	height: 300px;
	padding-bottom: 56.25%;
}
.embeded {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.brandText {
	display: inline;
	font-size: 2em;
	font-weight: 500;
	font-family: 'Russo One', sans-serif;
}
.profileThumb {
	background-color: #242526;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	height: 14em;
	margin: 0;
	border: 1px solid #5f5d5d;
	border-right: 0;
}
.profilePlate {
	color: white;
	background-color: #242526;
	border: 1px solid #5f5d5d;
	border-left: 0;
}
#profilePlate.col {
	margin-left: 0;
}
.plateTitle {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-image-slice: 1;
	border-image-source: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	margin: 1em 3em 1em 0;
}
.plateTitle h3 {
	display: inline;
	font-size: 3em;
}
.nav-tabs .nav-link {
	margin: 3em 1em 0 0;
	border: 1px solid #11a198;
	color: white;
	background-color: transparent;
}
ul.nav.nav-tabs {
	border-bottom: 0;
	margin: 0;
	margin-left: 15px;
}
.tabPane {
	background-color: white;
}
#monarchIcon {
	height: 3em;
	width: auto;
}
.followbtn {
	border-radius: 3em;
	color: white;
	vertical-align: middle;
	padding: 0.7em 3em;
	background-image: linear-gradient(
		179.1deg,
		rgba(24, 33, 33, 1) 31.4%,
		rgba(107, 151, 166, 1) 173.7%
	);
}
.followbtn:hover {
	background-image: linear-gradient(
		109.6deg,
		rgba(221, 221, 221, 1) 13.8%,
		rgba(187, 187, 187, 1) 90.6%
	);
}
#followbtntext {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	font-weight: 640;
	font-size: 1.4em;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.followbtn:hover #followbtntext {
	background-image: linear-gradient(
		179.1deg,
		rgba(24, 33, 33, 1) 31.4%,
		rgba(107, 151, 166, 1) 173.7%
	);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	color: rgb(41, 41, 41);
	border-color: black;
}
.nav-tabs .nav-item {
	margin-bottom: 1px;
}
#tabcontent.my-4,
.mb- {
	margin: 0 !important;
}
#postImg {
	box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
}
#postImg img {
	width: 100%;
	height: auto;
}
#postUser {
	font-size: 2em;
	text-align: left;
	margin-right: 1em;
	color: white;
}
#postDate {
	font-size: 1em;
	vertical-align: middle;
	align-items: center;
	text-align: right;
	margin: auto;
}
#postName {
	margin-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;

	border-image-slice: 1;
	border-image-source: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
}
#likeDiv {
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;

	border-image-slice: 1;
	border-image-source: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
}
#commentpill {
	padding: 1em;
	color: white !important;
	background-image: linear-gradient(180deg, #000000a6 12.9%, #242526 145.4%);
}
#deleteComment {
	background: linear-gradient(to right, #f2709c, #ff9472);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#commentInput input {
	margin: auto;
	margin-left: 1em;
	background-color: #5f5d5d;
	color: white;
}
#commentInput input::placeholder {
	color: darkgray;
}
#sendBtn {
	padding: 0.7em;
	border-radius: 30%;
	border-color: black;
	color: #353535 !important;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(3, 235, 255, 1) 0%,
		#9846f2 100.2%
	);
}
#deleteBtn {
	border: 2px solid rgb(242, 112, 156) !important;
	font-size: 0.8em;
	color: black !important;
	font-weight: 800;
	border-radius: 2em;
	background: linear-gradient(180deg, rgb(242, 112, 156), rgb(255, 148, 114));
}
#editBtn {
	border: 2px solid rgba(31, 225, 225, 1);
	color: black !important;
	font-size: 0.8em;
	font-weight: 800;
	border-radius: 3em;
	background-image: linear-gradient(
		180deg,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
}

#deleteBtn:hover,
#editBtn:hover,
#sendBtn:hover {
	color: white !important;
	background-color: blanchedalmond !important;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 12.9%, rgba(0, 0, 0, 1) 145.4%);
}
#editProfileBtn {
	padding: 0.8em 4em 0.8em 4em;
	border: 2px solid black !important;
	color: white !important;
	font-size: 0.8em;
	background-color: blanchedalmond !important;
	font-weight: 800;
	border-radius: 3em;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.651) 12.9%, #000000 145.4%);
}
#editProfileBtn:hover {
	padding: 0.8em 4em 0.8em 4em;
	border: 2px solid black !important;
	color: black !important;
	font-size: 0.8em;
	font-weight: 600;
	border-radius: 3em;
	background-image: linear-gradient(
		0deg,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
}
#categoryPill {
	border: 1px solid black;
	color: black !important;
	background-image: linear-gradient(180deg, rgba(244, 89, 128, 1) 0%, #ff9472 90%);
}

#loginCard {
	background-color: transparent;
	background-image: linear-gradient(136deg, #181717a6 12.9%, rgb(14, 13, 13) 145.4%);
}
#loginCard input {
	color: white !important;
}
#login {
	background-image: url('../imgs/landImage.jpg');
	background-size: cover;
	height: 800px;
	margin-top: -1.6em;
}
#loginBtn {
	padding: 0.8em 4em 0.8em 4em;
	border: 2px solid rgba(31, 225, 225, 1) !important;
	color: black !important;
	font-size: 0.8em;
	font-weight: 800;
	border-radius: 3em;
	background-image: radial-gradient(
		circle farthest-corner at 1.3% 2.8%,
		rgba(239, 249, 249, 1) 0%,
		rgba(182, 199, 226, 1) 100.2%
	);
}
#loginBtn:hover {
	padding: 0.8em 4em 0.8em 4em;
	border: 2px solid black !important;
	color: black !important;
	font-size: 0.8em;
	font-weight: 800;
	border-radius: 3em;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
}
#loginHeader {
	color: white !important;
}
#login a {
	background: linear-gradient(to right, rgb(242, 112, 156), #ff9472);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#login a:hover {
	background: radial-gradient(
		circle farthest-corner at 10% 20%,
		#1fe1e1 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#socialIcon {
	font-size: 2em;
	background: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#socialIcon:hover {
	font-size: 2em;
	background: linear-gradient(to right, #f2709c, #ff9472);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#likeBtn {
	font-size: 1.3em;
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#likeBtn:hover {
	background: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(31, 225, 225, 1) 34.4%,
		rgba(148, 119, 215, 1) 100.2%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
#postHeader {
	background-color: black;
	margin: 0;
}
.postWave h3 {
	width: 200px;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color: white;
	margin-left: 3.5em;
	margin-top: 0.8em;
}
.postWave {
	border-radius: 1em;
	height: 180px;
	width: 100%;
	background-size: cover;
	background-image: url(../imgs/wave.png);
}
#postWrapper {
	margin-bottom: 6em;
	margin-top: 3em;
}
#mapDiv {
	margin: 3em;
	margin-bottom: 6em;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
	border: 1px solid #1fe1e1;
}
#mapDiv .col {
	padding: 0;
}
#uploadTab {
	color: white;
	height: 45px;
	background-image: linear-gradient(0deg, #5f5d5d 12.9%, #3a3b3d 145.4%);
	padding: 0.25em;
}
#memberLink {
	color: white;
}
#memberLink:hover {
	text-decoration: underline;
}
#uploadTabActive {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 525;
	height: 45px;
	padding: 0.25em;
	color: black;
	background: linear-gradient(0deg, rgb(242, 112, 156), rgb(255, 148, 114));
	border: 1px solid black;
}
#uploadTab p,
#uploadTabActive p {
	margin-left: 1em;
}
#createPostBtn {
	padding: 0.8em 4em 0.8em 4em;
	border: 2px solid black !important;
	color: white !important;
	border-radius: 2em;
	font-size: 0.8em;
	font-weight: 800;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 12.9%, rgba(0, 0, 0, 1) 145.4%);
	background-color: blanchedalmond !important;
}
#createPostBtn:hover {
	padding: 0.8em 4em 0.8em 4em;
	border: 2px solid black !important;
	color: black !important;
	font-size: 0.8em;
	font-weight: 800;
	background: linear-gradient(180deg, rgba(31, 225, 225, 1) 34.4%, rgba(148, 119, 215, 1) 100.2%);
}
.infoWindow {
	background-color: darkred;
}
.gm-style .gm-style-iw {
	background-color: #5f5d5d !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	min-height: 80px !important;
	padding-top: 10px;
	padding-bottom: -2em;
	display: block !important;
}
.gm-style .gm-style-iw-t::after {
	background: linear-gradient(
		45deg,
		#5f5d5d 50%,
		rgba(255, 255, 255, 0) 51%,
		rgba(255, 255, 255, 0) 100%
	);
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
	background-color: #5f5d5d;
}
.gm-ui-hover-effect {
	opacity: 1;
}
.landingBanner {
	min-height: 635px;
	width: 100%;
	background-repeat: no-repeat;
	margin: 0;
	background-size: cover;
	background-position: bottom;
	border-radius: 10px;
	border: 4px solid #5f5d5d;
	background-image: url(../imgs/curren$y.jpg);
}
.landingBanner h3 {
	font-size: 4em;
	background-image: linear-gradient(
		0.2deg,
		rgba(31, 225, 225, 1) -0.9%,
		rgba(148, 119, 215, 1) 70.8%
	) !important;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	margin-top: 0.24em;
}
.join {
	color: black;
	background-color: rgba(0, 0, 0, 0.452);
	border-radius: 10px;
	margin-left: 2em;
	margin-right: 2em;
	width: 100%;
	margin-bottom: 2em;
	margin-top: 14em;
	border: 1px solid #5f5d5d;
}
.join h2 {
	margin-top: 2px;
	font-size: 3em;
	-webkit-text-stroke: 0.5px black;
	font-family: 'Russo One', sans-serif;
	background: linear-gradient(180deg, rgb(242, 112, 156) 30%, rgb(255, 148, 114) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.join p {
	color: white;
	font-size: 1em;
	font-weight: 400;
}
.landingHeader {
	height: 50px;
	margin-top: 2em;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 11px 15px 6px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 0px 11px 15px 6px rgba(0, 0, 0, 0);
	background: linear-gradient(0deg, #242526 10%, rgba(0, 0, 0, 0.315) 80.4%);
}
.aboutHeading {
	margin: auto 0;
}
.aboutHeading h3 {
	margin: auto;
}
.aboutSection {
	background-color: #242526;
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}
.aboutSection img {
	width: 100%;
	height: auto;
	max-height: 420px;
	border-radius: 5px;
}
.aboutSection h3 {
	margin-top: 2px;
	font-size: 2em;
	-webkit-text-stroke: 0.5px black;
	font-family: 'Russo One', sans-serif;
	background-image: linear-gradient(
		0.2deg,
		rgba(31, 225, 225, 1) -0.9%,
		rgba(148, 119, 215, 1) 70.8%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.section1,
.section2 {
	box-shadow: 14px 0 13px -14px #000000;
}

@media only screen and (max-width: 600px) {
	.profileThumb {
		border-radius: 0;
		background-color: white;
		height: 14em;
		margin: 0;
	}
	#profile-thumbnail {
		border: 1px solid white;
		padding: 6px;
		margin: auto;
	}
	#profile-thumbnail {
		margin-top: 1em;
		display: block;
		align-self: center;
	}
	#profilePlate {
		border-bottom-left-radius: 15em;
		border-bottom-right-radius: 15em;
	}
}
@media only screen and (min-width: 1200px) {
	.profileThumb {
		background-color: #242526;
		border-top-left-radius: 8em;
		border-bottom-left-radius: 8em;
		height: 14em;
		margin: 0;
		border: 1px solid #5f5d5d;
		border-right: 0;
	}
}
